# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

/apps/backend/src/test/.env.test


# Environment variables
.env
.env.local
.env.production

# Build outputs
dist/
build/
.next/
out/

# OS files
.DS_Store
Thumbs.db

# IDE / Editor
.vscode/
.idea/

# Docker
docker-data/

# Logs
logs/
*.log
